@media (max-width: 1440px) {
    .container .informacao {
        width: 50%;
    }

    .logo-junta {
        width: 700px;
    }

    .games {
        width: 40%;
        margin: 20px;
    }

    .service-politica p {
        left: 800px;
    }
     .redes-sociais img {
        left: 1200px;
    }
}

@media  (max-width: 1200px) {
    
   
    .fundo-video {
        /* background-color: blue; */
        width: 100%;
        height: 100%; 
    }
    .fundo-video .video {
        width: auto;
        height: auto;
        
    }

    .costa {
        right: 200px;
        position: relative;
    }

    .speed-drifters img  {
        width: 300px;
        height: 300px;
    }

    .clash-of-clans img {
        width: 220px;
        height: 120px;
    }

    .free-fire img {
        width: 300px;
        height: 300px;
        top: 20px;
        position: relative;
    }

    .service-politica p {
        left: 400px;
    }
     .redes-sociais img {
        left: 850px;
    }
    
}

@media (max-width: 800px) {
    body {
        flex-wrap: wrap;
        overflow-x: scroll;
        overflow-x: hidden;
    }

    .container {
        flex-direction: column;
    
        
    }

    .logo-junta {
        width: 500px;
        right: 70px;
        margin-top: 70px;
        position: relative;
    }

    .games {
        width: 400px;
    }

    .frente, .costa {
        display: none;
    }

    .dois-lados {
        display: block;
        width: 650px;
    }

    .texto-games {
        top: 0;
    }

    
    .games-on .games-ativos {
        flex-direction: column;
        
    }

    .games-ativos {
        top: 300px;

    }

    .clash-of-clans img {
        width: 300px;
        height: 212px;
    }

    .informacao-final hr {
        left: 30px;
    }

    .service-politica p   {
        left: 160px;
        margin: 10px;
    }

    .redes-sociais img {
        left: 500px;
    }

    .botao-inicio a {
       left: 25px;
       top: 10px;
    } 

}

@media (max-width: 420px) {
    .fundo-video {
        display: none;
    }

    .logo-junta {
        width: 350px;
    }

    .games {
        width: 250px;
        margin: 5px;
    }

    .dois-lados {
        width: 350px;
        margin: 20px;
    }

    .camisetas::after {
        width: 100%;
        height: 1000px;
       
    }

    .texto-games {
        font-size: 24px;
    }

    .informacao-final hr {
        left: 20px;
    }

    .service-politica p   {
        left: 0px;
        margin: 10px;
    }

    .redes-sociais img {
        left: 250px;
    }

    .botao-inicio a {
       left: 25px;
       top: 10px;
    } 
}

@media (max-width: 395px) {

    .container .informacao{
        font-size: 15px;
    }

    .logo-junta {
        width: 290px;
        right: 55px;
    }

    .games {
        width: 250px;
        margin: 5px;
    }

    .dois-lados {
        width: 320px;
        margin: 10px;
    }

    .texto-games p {
        font-size: 20px;
    }

    .redes-sociais img {
        left: 220px;
    }

}









/* @media (max-width: 1440px) {
    .container {
        display: flex;
        align-items: center; 
    }

    .container .informacao {
        width: 600px;
        font-size: 18px;
    }

    .container .logo-junta {
        width: 500px;
    }

    .games {
        width: 650px;
        margin: 100px;
    }
}

@media (max-width: 1200px)  {
    .container .informacao {
        width: 50%;
        font-size: 16px;
    }

    .container .logo-junta {
        width: 500px;
        margin: 0px;
        
    }

    .container .games {
        width: 400px;
        margin: 0 
    }
    
    .video-fundo {
        width: 100%;
        height: 100%;
    }

    .fundo-video .video {
        width: auto;
        height: auto;
    }
}

@media (max-width: 800px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
       margin: auto;
        
    }


    .container .informacao {
        right: 40px;
        position: relative;
        background-color: blue;
    }

    .informacao .logo-junta {
       position: relative;
       right: 90px;
       background-color: brown;
    }

    .games {
        position: relative;
        right: 50px;
        background-color: aqua;
    }

    .fundo-video {
        display: none;
    }  
} */