body {
    font-family: 'Poppins';
    max-width: 1980px;
    background-position: center top;
    background-color: black;

}

main br {
    background-color: black;
}


.cabecalho {
    /* background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%); */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    position: absolute;
    
    


}

.cabecalho .logo {
    width: 35px;
    padding: 12px;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
}
.cabecalho nav li a {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    padding: 10px 20px;
    transition: 0.2;
    text-decoration: none;
}
.cabecalho nav li a:hover {
    background-color: blue;
    border-radius: 30px;
    transition: 0.2s;
}

.container {
    
    display: flex;
    justify-content: center;
    max-width: 1980px;
    height: calc(100vh - 60px);
    margin: 0 auto;
    align-items: center;
    padding: 50px 30px 10px 100px;

}
.container .informacao {
    text-align: center;
    width: 90%;
    font-size: 20px;
    margin:  50px;
    
}
.container .logo-junta {
    width: 796px;
}

.logo-junta {
    visibility: hidden;
}

.container .games {
    width: 600px;
    margin-left: 80px;
    
    
    
}

/* .descricao {
    visibility: hidden;
} */

.descricao::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisco .7s infinite;
}

@keyframes pisco {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    
}

.container .botao-junte {
    background-color: blue;
    margin: 20px 0 0 0 ;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #fcfcfc;
    border: none;
    text-transform: uppercase;
    transition: 0.3s all ease-in-out;
}

.container .botao-junte:hover {
    transform: scale(1.1);

}

.games {
    margin: 0px 100px 100px 0px;
    visibility: hidden;
    
    
}

.container p {
    color: #ffffff;
    
}

.fundo-video {
    position: absolute;
    z-index: -1;
    display: flex;
    overflow: hidden;
    width: 100%;
    float: left;
    justify-content: center;
}

.fundo-video .video {
    width: 100%;
    height: 100%;
    
}
.fundo-video {
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    
}

.fundo-video:after {
    content: "";
    background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0.5298494397759104) 50%, rgba(0,0,0,1) 80%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}

.contato {
    background-color: rgb(2, 7, 34);
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    border-color: #ffffff;
    visibility:hidden;
    
    
}

.contato p {
    position: relative;
    top: 210px;
    left: 140px;
    font-size: 50px;
}

.contato .fechar-contato {
    position: relative;
    position: absolute;
    top: 0px;
    left: 230px;
    background-color: rgb(255, 0, 0);
    padding: 5px 10px ;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.contato .fechar-contato:hover {
    transform: scale(1.1);
}

.contato.aberto {
    opacity: 1;
    visibility: visible;
}

.container2 {
    background-color: black;
}



.container2 .camisetas {
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
    
}

.dois-lados {
    display: none;
}

.camisetas .costa {
    width: 610px;
    justify-content: space-between;
    /* background-color: blanchedalmond; */
    
}

.camisetas .frente {
    width: 620px;
    /* background-color: aqua; */
    
}

.camisetas::after {
    content: "";
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%);
    width: 100vw;
    height: 1000px;
    position: absolute;
}



.games-on {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}

.games-on .texto-games {
    top: 100px;
    position: relative;
}

.texto-games {
    color: #ffffff;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    display: flex;
}

.games-ativos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 800px;
}


.speed-drifters img  {
    width: 400px;
    height: 400px;
    /* background-color: rebeccapurple; */
    margin: 80px 10px 10px 10px;
    cursor: pointer;
    
}

.speed-drifters:hover {
    transform: scale(1.1);
    transition: 0.2s all ease-in-out;
}

.clash-of-clans img {
    width: 320px;
    height: 220px;
    /* background-color: blue; */
    cursor: pointer;
    margin: 30px 10px 10px 10px;

    
}
.clash-of-clans:hover {
    transform: scale(1.1);
    transition: 0.2s all ease-in-out;
}

.free-fire img {
    width: 400px;
    height: 400px;
    /* background-color: red; */
    cursor: pointer;
    margin: 30px 10px 10px 10px;
    
}
.free-fire:hover {
    transform: scale(1.1);
    transition: 0.2s all ease-in-out;
}

.informacao-final {
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 250px;
}

.informacao-final hr {
    width: 90%;
    height: 1%;
    position: relative;
    left: 90px;
    top: 5px;
    background-color: #0180ca;
    border: none;

}

.informacao-final img {
    left: 1700px;
    top: 70px;
}


.youtube-logo {
    width: 35px;
    position: relative;
    margin: 0px 10px 3px 0px;
    cursor: pointer;
}

.instagram-logo {
    width: 25px;
    position: relative;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}

.discord-logo {
    width: 25px;
    position: relative;
    margin: 0px 0px 6px 0px;
    cursor: pointer;
}

.service-politica {
    color: #ffffff;
    position: relative;
    height: 125px;
    display: flex;
    
}

.service-politica p {
    margin: 0px 0px 0px 50px;
    left: 1370px;
    top: 60px;
    position: relative; 
    color: #fff;
}

a:link {
    text-decoration: none;  
}


.botao-inicio a {
    font: bolder;
    background-color: #0180ca;
    position: relative;
    width: 14px;
    left: 60px;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}













