@media (max-width: 400px) {
    /* .tela-registro {
        width: 100px;
        left: 150px;
    }

    .tela-registro input {
        width: 200px;
        position: relative;
        margin: 0;
        padding: ;
    } */
}